.chat-wrapper-container {
  /* margin-top: 7vh; */
}
.chat-wrapper {
  display: flex;
  overflow: hidden;
  max-height: 93vh;
  /* background-color: black; */
}

.left-container {
  /* overflow-y: hidden; */
  /* min-height: 100vh; */
  flex: 1;
  /* border: 1px solid black; */
  /* background-color: black; */
  box-shadow: 2px 0 rgba(39, 39, 39, 0.2);
}

.chats-container {
  height: 85vh;
  overflow-y: auto;
  /* background-color: black; */
}

.right-container {
  flex: 3;
}

.unselected-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: green; */
}

.chat-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  border-bottom: 1px solid rgba(149, 147, 147, 0.441);
  box-shadow: 0 5px 5px 0 rgba(207, 207, 207, 0.248);
  margin-bottom: 5px;
}

.show-chat {
  /* background-color: red; */
  /* z-index: 2000; */
  display: none;
  position: absolute;
  width: 100%;
  /* height: 100%; */
}

.chat-body {
  display: flex;
  flex-direction: column;
  width: 100%;

  align-items: center;
  /* background-color: blue; */
}

.chat-body-container {
  width: inherit;
  display: flex;
  justify-content: center;
  height: 74vh;
  /* background-color: green; */
  overflow-y: auto;
  margin-bottom: 10px;
}

.chat-body-wrapper {
  /* background-color: red; */
  width: 60%;
}

.chat-box-row {
  display: flex;
  /* background-color: black; */
  /* width: 50%; */
  margin: 10px 0;
}
.empty-space {
  flex: 1;
  /* background-color: yellow; */
}
.chat-box-container {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex: 3;
  /* text-align: right; */
  max-width: 100%;
  max-height: 100%;
}

.container-current-user {
  justify-content: flex-end;
  flex: 1;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  /* border: 1px solid black; */
  color: rgb(0, 0, 0);
  background-color: rgb(209, 205, 205);
  border-radius: 15px 10px 10px 0px;
  padding: 5px 15px 5px 10px;
}

.bubble-current-user {
  color: white;
  text-align: right;
  background-color: rgb(18, 92, 175);
  border-radius: 10px 15px 0 10px;
  padding-right: 10px;
  padding-left: 15px;
}

.chat-time-ago {
  font-size: 8px;
}

.chat-entry {
  max-width: 50vw;
  width: 60%;
  /* margin-top: 10px; */
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: auto; */
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
  /* background-color: black; */
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: rgb(221, 221, 221);
}

@media (max-width: 900px) {
  .chat-body-wrapper {
    /* background-color: red; */
    width: 100%;
  }
  .chat-entry {
    width: 90vw;
    max-width: 60vw;
    /* background-color: teal; */
  }
}

@media (max-width: 600px) {
  .left-container {
    /* background-color: red; */
    display: block;
    /* position: absolute; */
    width: 100%;
  }

  .chat-body-container {
    height: 61vh;
  }

  .chat-entry {
    width: 90vw;
    max-width: 90vw;
    /* background-color: teal; */
  }

  .hide {
    display: none;
  }

  .show-chat {
    display: block;
  }
}

@media (max-height: 900px) {
  /* .chat-wrapper {
    height: 50vh;
  } */
  .chats-container {
    height: 80vh;
  }

  .chat-body-container {
    height: 62vh;
  }
}
